<!-- about.component.html -->
<div class="container">
  <h1>Sobre Mí</h1>

  <div class="about-content">
    <div class="profile-section">
      <div class="profile-image">
        <img class="image-placeholder" src="assets/img/about.webp" alt="Imagen de perfil">
      </div>

      <div class="bio-section">
        <h2 class="ubuntu-bold">Mi Historia</h2>
        <p>
          Desde muy pequeño, la informática ha sido mi pasión. A lo largo de los años, he adquirido experiencia en programación y
          desarrollo de aplicaciones de escritorio. Actualmente, me especializo en aseguramiento de calidad (QA), participando en
          diversos proyectos donde he implementado pruebas automatizadas y manuales para garantizar la calidad del software.
        </p>
        <p>
          En mi tiempo libre, disfruto explorando nuevas tecnologías y desarrollando proyectos personales. Me apasiona la
          programación web y el desarrollo de aplicaciones, lo que me ha llevado a especializarme en este campo para seguir
          ampliando mis conocimientos y habilidades.
        </p>
        <p>
          Siempre estoy en busca de nuevos desafíos y oportunidades que me permitan crecer profesionalmente. Me considero una
          persona proactiva, responsable y comprometida con la excelencia en cada proyecto en el que participo.
        </p>
      </div>
    </div>

    <div class="skills-section">
      <h2>Mis Habilidades</h2>

      <div class="skills-grid">
        <div class="skill-category">
          <h3>Frontend</h3>
          <ul>
            <li>HTML5 & CSS3</li>
            <li>JavaScript/TypeScript</li>
            <li>Angular</li>
            <li>React</li>
            <li>Responsive Design</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Herramientas</h3>
          <ul>
            <li>Git & GitHub</li>
            <li>Docker</li>
            <li>VS Code</li>
            <li>Inteligencia Artificial generativa</li>
            <li>Jira</li>
          </ul>
        </div>

        <div class="skill-category">
          <h3>Control de calidad (QA)</h3>
          <ul>
            <li>Pruebas caja negra, caja blanca</li>
            <li>Selenium Python</li>
            <li>Selenium Java</li>
            <li>Postman/Postman Flows</li>
            <li>Cucumber</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
