<footer>
  <div class="container">
    <p>&copy; {{ currentYear }} Mi Portafolio. Todos los derechos reservados.</p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/juan-enrique-samayoa-reyes-ba838a208/" target="_blank" aria-label="LinkedIn" class="social-icon-link linkedin">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a href="https://github.com/JuanSamayoa" target="_blank" aria-label="GitHub" class="social-icon-link github">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a href="#" target="_blank" aria-label="Email">
        <mat-icon>email</mat-icon>
      </a>
    </div>
  </div>
</footer>
