<div class="container">
  <section class="profile-section">
    <div class="profile-container">
      <div class="profile-image-container">
        <div class="profile-image">
          <img class="image-placeholder" src="assets/img/profile.webp" alt="Imagen de perfil">
        </div>

      <div class="social-links">
        <h3>Link a mis redes</h3>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/juan-enrique-samayoa-reyes-ba838a208/" target="_blank" aria-label="LinkedIn"
            rel="noopener noreferrer" class="social-icon-link linkedin">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <a href="https://github.com/JuanSamayoa" target="_blank" aria-label="GitHub" rel="noopener noreferrer"
            class="social-icon-link github">
            <mat-icon svgIcon="github"></mat-icon>
          </a>
          <a href="mailto:juancho1705@gmail.com" target="_blank" aria-label="email" rel="noopener noreferrer"
            class="social-icon-link email">
            <mat-icon>alternate_email</mat-icon>
          </a>
        </div>
      </div>
      </div>
      <div class="profile-info">
        <h1>Juan Enrique Samayoa Reyes</h1>
        <h2>IT Testing Engineer I</h2>

        <div class="biography">
          <h3>Mi biografía</h3>
          <p>
            Soy un Analista de QA con 25 años de edad y experiencia en pruebas manuales, caja negra, caja blanca y pruebas de humo.
            Además, tengo conocimientos en desarrollo frontend con Angular y una sólida base en Java, lo que me permite comprender
            tanto la calidad del software como su desarrollo. He trabajado en distintos proyectos a nivel profesional y personal, lo
            que me ha permitido adquirir experiencia en diversas áreas de la tecnología.
          </p>
          <p>
            Desde pequeño, he estado inmerso en el mundo de la informática, tomando cursos y explorando tanto el hardware como el
            software. Mi primer lenguaje de programación fue Java, y con el tiempo me he especializado en Angular y en el
            aseguramiento de calidad.
          </p>
          <p>
            Me apasiona la tecnología, la mejora continua y el aprendizaje constante. Me considero una persona proactiva,
            responsable y comprometida con mi trabajo. Siempre busco la excelencia en todo lo que hago y disfruto trabajar en equipo
            para alcanzar objetivos comunes.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="projects-section">
    <h2>Mis Proyectos</h2>

    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of projects">
        <div class="project-image">
          <img [src]="project.imageUrl" [alt]="project.title" class="image-placeholder" />
        </div>
        <h3>{{ project.title }}</h3>
        <p>{{ project.shortDescription }}</p>
        <a [routerLink]="['/projects', project.id]" class="project-link">Ver detalles</a>
      </div>
    </div>

    <div class="view-all">
      <a mat-raised-button color="primary" routerLink="/projects">Ver todos los proyectos creados</a>
    </div>
  </section>
</div>
