<div class="container">
  <h1>Mis Proyectos</h1>

  <div class="projects-grid">
    <mat-card class="project-card" *ngFor="let project of projects">
      <img mat-card-image [src]="project.imageUrl" [alt]="project.title">
      <mat-card-content>
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        <div class="technologies">
          <mat-chip-set>
            <mat-chip *ngFor="let tech of project.technologies">{{ tech }}</mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/projects', project.id]">Ver detalles</a>
        <a mat-button *ngIf="project.githubUrl" [href]="project.githubUrl" target="_blank">
          <mat-icon>code</mat-icon> Github
        </a>
        <a mat-button *ngIf="project.liveUrl" [href]="project.liveUrl" target="_blank">
          <mat-icon>launch</mat-icon> Demo
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
