<div class="fixed inset-0 -z-10">
  <!-- Fondo para modo claro -->
  <div class="absolute inset-0 bg-white dark:hidden transition-opacity duration-500 ease-in-out">
    <div class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] transition-all duration-500"></div>
  </div>
  
  <!-- Fondo para modo oscuro -->
  <div class="absolute inset-0 bg-black hidden dark:block transition-opacity duration-500 ease-in-out">
    <div class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px] transition-all duration-500"></div>
    <div class="absolute left-0 right-0 top-[-10%] h-[1000px] w-full rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)] transition-all duration-500"></div>
  </div>
</div>
